html{
 scroll-behavior: smooth;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./assets/fundo.jpg");
    background-size: contain;
    background-attachment: fixed;
}
#toolBar{
 height: 75px;
 position: fixed;
 width: 100vw;
 z-index: 100;
 top: 0;
 background-color: rgb(80, 230, 180);
}

#btnCurriculo{
    margin-right: 20px;
}

#BoasVindas{
    text-align: center;
    justify-content: center;
}
#textoboasvindas{
    align-content: center;
    text-align: center;
}
ul,li{
    list-style-type: none;
}
#scrollspyHeading1,#scrollspyHeading2,
#scrollspyHeading3,#scrollspyHeading4{
    padding-top: 5rem;
}

[data-anime]{
    opacity: 0;
    transition: 2s;
}
[data-anime="left"]{
    transform: translate3d(200px,0,0);
}
[data-anime="right"]{
    transform: translate3d(-200px,0,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}
#rolagem{
    background-color: rgb(250, 255, 250);
}